@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: var(--pretendard-font), var(--tossface-font);
}

a {
  text-decoration: underline gray;
}

pre {
  overflow-x: auto;
  padding: 1rem 0;
  border-radius: 6px;
}

pre [data-line] {
  padding: 0 1rem;
}

span {
  font-family: var(--sourcecodepro-font);
  font-size: 12px;
}