@font-face {
  font-family: TossFace;
  src: url(../fonts/TossFaceFontWeb.otf) format('woff2');
}

* {
  font-family: sans-serif, Tossface;
  color: #212529;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

code {
  font-weight: 400;
  font-size: 0.9rem;
  border-radius: 8px;
  line-height: 1.5;
}

strong {
  font-weight: 400;
}