.headingMd {
    font-size: 1.2rem;
    line-height: 1.5;
}

.headingLg {
    font-size: 1.5rem;
    line-height: 1.4;
    margin: 1rem 0;
    padding-left: 10px;
}

.headingXl {
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.4;
    margin-top: 2rem;
}

.subheading {
    margin-top: 1rem;
    margin-bottom: 2rem;
    font-size: 0.9rem;
}

.bodyMd {
    font-size: 1.1rem;
    line-height: 1.8;
}

.padding1px {
    padding-top: 1px;
}

.grid {
    padding-top: 1.5rem;
    display: grid;
    gap: 1rem;
}

/* Desktop */
@media screen and (min-width:768px) {
    .grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

/* Mobile */
@media screen and (max-width:767px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

.gridItem {
    font-size: 1rem;
    font-weight: 400;
    aspect-ratio: 1.2;
    border-radius: 8px;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

@keyframes grid-animation {
    25% {
        transform: rotate(2deg) scale(1.01);
    }

    50% {
        transform: rotate(0deg) scale(1);
    }

    75% {
        transform: rotate(-2deg) scale(1.01);
    }
}

.gridItem:hover {
    opacity: 0.9;
    animation: grid-animation 0.8s linear 1;
}

.container {
    max-width: 36rem;
    padding: 0 1rem;
    margin: 3rem auto 6rem;
}