.headingMd {
    font-size: 1.2rem;
    line-height: 1.5;
}

.headingLg {
    font-size: 1.5rem;
    line-height: 1.4;
    margin: 1rem 0;
}

.headingXl {
    font-size: 1.7rem;
    font-weight: 600;
    line-height: 1.4;
    margin-top: 2rem;
}

.subheading {
    margin-top: 0.5rem;
    margin-bottom: 2rem;
}

.bodyMd {
    font-size: 1.1rem;
    font-weight: 300;
    line-height: 1.8;
}

.padding1px {
    padding-top: 1px;
}

.list {
    list-style: none;
    padding-top: 2rem;
}

.lightText {
    color: #666;
}

.listItem {
    margin: 0 0 1.25rem;
}

.container {
    max-width: 36rem;
    padding: 0 1rem;
    margin: 3rem auto 6rem;
}