.headingMd {
    font-size: 1.2rem;
    line-height: 1.5;
}

.headingLg {
    font-size: 1.5rem;
    line-height: 1.4;
    margin: 1rem 0;
}

.headingXl {
    font-size: 1.8rem;
    line-height: 1.4;
    margin: 1rem 0;
}

.subheading {
    margin: 1rem 0;
}

.bodyMd {
    font-size: 1.2rem;
    line-height: 1.5;
}

.padding1px {
    padding-top: 1px;
}

.list {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.lightText {
    color: #666;
}

.listItem {
    margin: 0 0 1.25rem;
}

.container {
    max-width: 36rem;
    padding: 0 1rem;
    margin: 3rem auto 6rem;
}